/* =-=-= Cabeçalho =-=-= */

header{
	background-color: yellow;
	text-align: center;
}

header h1{
	font-family: 'Ranchers', cursive;
	font-size: 4em;
	color: black;
	padding: 0;
	margin: 0;
}

header h3{
	color: black;
	font-family: 'Epilogue', sans-serif;
	padding-bottom: 10px;
}

/* =-=-= Fim Cabeçalho =-=-= */

.borda{
	border: 1px solid black;
}

/* =-=-= Conteúdo Principal =-=-= */

div.borda{
	margin-top: 45px;
}

.numero-questao{
	margin: 0 auto;
	font-family: 'Epilogue', sans-serif;
	font-size: 1.9em;
	padding: 20px 120px;
	font-weight: bolder;
}

.titulo-questao{
	margin: 0 auto;
	font-family: 'Epilogue', sans-serif;
	font-size: 2.2em;
}

.alternativas{
	width: 100%;
	margin: 25px;
}

div.alternativa{
	border: 1px solid black;
	text-align: center;
	font-family: 'Epilogue', sans-serif;
	font-size: 1.6em;
	width: 35%;
	margin: 0 auto;
}

.botao{
	margin: 15px;
}

.alternativa:hover{
	background-color: black;
	cursor: pointer;
	color: white;
}

/* =-=-= Fim Conteúdo Principal =-=-= */

/* Margens entre um botão e outro na tela de fim de jogo */

.botoes{
	margin: 10px;
}